<!-- templates/index.html -->
{% extends 'base_sidebar.html' %}

{% block content %}
<h1 style="margin-top: -40px;">Welcome to PolarityDetection</h1>
<p>Embark on a journey of insight with us at PolarityDetection! 
    Our cutting-edge platform empowers you to extract and analyze bilingual data from
     online sources, unveiling the sentiment behind each piece of content – be it tweets, 
     comments, or more. Navigate the vast landscape of digital information and discover
      the positive or negative tones woven into the fabric of text. PolarityDetection is your key 
      to decoding the emotional context of online conversations,
     revolutionizing the way you perceive and harness data-driven insights.</p>
<img style="width: 50%; height: 50%;" src="static\images\homepic.jpg">
{% endblock %}
